In [7]:
import pandas as pd
import numpy as np
import json

In [8]:
# Store filepath in a variable
flu_vacc_file1= "Data/NYVacc2015-16CalcData.csv"
flu_vacc_file2= "Data/NYVacc2016-17CalcData.csv"

In [10]:
vacc15_16 = pd.read_csv(flu_vacc_file1)
vacc16_17 = pd.read_csv(flu_vacc_file2)
vacc16_17

       Month  Percentage  Sample_Size
0   Jul 2016      0.0045        46338
1   Aug 2016      0.0211        46338
2   Sep 2016      0.0998        46338
3   Oct 2016      0.2633        46338
4   Nov 2016      0.3526        46338
5   Dec 2016      0.3915        46338
6   Jan 2017      0.4281        46338
7   Feb 2017      0.4466        46338
8   Mar 2017      0.4539        46338
9   Apr 2017      0.4582        46338
10  May 2017      0.4626        46338

In [13]:
vacctotal = [vacc15_16, vacc16_17]
mergetotal = pd.concat(vacctotal)
mergetotal

       Month  Percentage  Sample_Size
0   Jul 2015      0.0053        50801
1   Aug 2015      0.0181        50801
2   Sep 2015      0.0912        50801
3   Oct 2015      0.2596        50801
4   Nov 2015      0.3578        50801
5   Dec 2015      0.3922        50801
6   Jan 2016      0.4191        50801
7   Feb 2016      0.4353        50801
8   Mar 2016      0.4468        50801
9   Apr 2016      0.4536        50801
10  May 2016      0.4544        50801
0   Jul 2016      0.0045        46338
1   Aug 2016      0.0211        46338
2   Sep 2016      0.0998        46338
3   Oct 2016      0.2633        46338
4   Nov 2016      0.3526        46338
5   Dec 2016      0.3915        46338
6   Jan 2017      0.4281        46338
7   Feb 2017      0.4466        46338
8   Mar 2017      0.4539        46338
9   Apr 2017      0.4582        46338
10  May 2017      0.4626        46338

In [ ]:
weatherdata = pd.read_csv("NYWeather.csv")

In [ ]:
weatherdata.head()

In [ ]:
monthNYdata = pd.read_csv("MonthNYData.csv")