In [13]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

In [14]:
# Store filepath in a variable
flu_vacc_file1= "Data/NYVacc2015-16CalcData.csv"
flu_vacc_file2= "Data/NYVacc2016-17CalcData.csv"

In [15]:
vacc15_16 = pd.read_csv(flu_vacc_file1)
vacc16_17 = pd.read_csv(flu_vacc_file2)
vacc16_17

       Month  Percentage  Sample_Size
0   Jul 2016      0.0045        46338
1   Aug 2016      0.0211        46338
2   Sep 2016      0.0998        46338
3   Oct 2016      0.2633        46338
4   Nov 2016      0.3526        46338
5   Dec 2016      0.3915        46338
6   Jan 2017      0.4281        46338
7   Feb 2017      0.4466        46338
8   Mar 2017      0.4539        46338
9   Apr 2017      0.4582        46338
10  May 2017      0.4626        46338

In [16]:
vacctotal = [vacc15_16, vacc16_17]
mergetotal = pd.concat(vacctotal)
mergetotal

       Month  Percentage  Sample_Size
0   Jul 2015      0.0053        50801
1   Aug 2015      0.0181        50801
2   Sep 2015      0.0912        50801
3   Oct 2015      0.2596        50801
4   Nov 2015      0.3578        50801
5   Dec 2015      0.3922        50801
6   Jan 2016      0.4191        50801
7   Feb 2016      0.4353        50801
8   Mar 2016      0.4468        50801
9   Apr 2016      0.4536        50801
10  May 2016      0.4544        50801
0   Jul 2016      0.0045        46338
1   Aug 2016      0.0211        46338
2   Sep 2016      0.0998        46338
3   Oct 2016      0.2633        46338
4   Nov 2016      0.3526        46338
5   Dec 2016      0.3915        46338
6   Jan 2017      0.4281        46338
7   Feb 2017      0.4466        46338
8   Mar 2017      0.4539        46338
9   Apr 2017      0.4582        46338
10  May 2017      0.4626        46338

In [17]:
mergetotal['Change']=mergetotal.Percentage.pct_change()
#mergetotal.to_csv("NYVacc2015-17.csv")

In [22]:
flu_vacc_file4= "Data/NYVacc2015-17.csv"
vacc15_17 = pd.read_csv(flu_vacc_file4)
vacc15_17

    Unnamed: 0   Month  Percentage  Sample_Size    Change
0            0  Jul-15      0.0053        50801       NaN
1            1  Aug-15      0.0181        50801  2.415094
2            2  Sep-15      0.0912        50801  4.038674
3            3  Oct-15      0.2596        50801  1.846491
4            4  Nov-15      0.3578        50801  0.378274
5            5  Dec-15      0.3922        50801  0.096143
6            6  Jan-16      0.4191        50801  0.068587
7            7  Feb-16      0.4353        50801  0.038654
8            8  Mar-16      0.4468        50801  0.026419
9            9  Apr-16      0.4536        50801  0.015219
10          10  May-16      0.4544        50801  0.001764
11           0  Jul-16      0.0045        46338       NaN
12           1  Aug-16      0.0211        46338  3.688889
13           2  Sep-16      0.0998        46338  3.729858
14           3  Oct-16      0.2633        46338  1.638277
15           4  Nov-16      0.3526        46338  0.339157
16           5  Dec-16      0.3915        46338  0.110323
17           6  Jan-17      0.4281        46338  0.093487
18           7  Feb-17      0.4466        46338  0.043214
19           8  Mar-17      0.4539        46338  0.016346
20           9  Apr-17      0.4582        46338  0.009473
21          10  May-17      0.4626        46338  0.009603

In [19]:
flu_incid= "Data/ILINet_2015_2017.csv"
fluout = pd.read_csv(flu_incid)
fluout

,REGION TYPE,REGION,YEAR,WEEK,WkStart,WkEnd,Mo_of_yr,MoY,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,States,New York,2015,40,10/5/2015,10/11/2015,October,10/1/2015,X,0.588433,X,X,X,X,X,X,70,80,11896
1,States,New York,2015,41,10/12/2015,10/18/2015,October,10/1/2015,X,0.557203,X,X,X,X,X,X,62,80,11127
2,States,New York,2015,42,10/19/2015,10/25/2015,October,10/1/2015,X,0.859620,X,X,X,X,X,X,115,82,13378
3,States,New York,2015,43,10/26/2015,11/1/2015,October,10/1/2015,X,0.816171,X,X,X,X,X,X,107,83,13110
4,States,New York,2015,44,11/2/2015,11/8/2015,November,11/1/2015,X,0.655665,X,X,X,X,X,X,89,84,13574
5,States,New York,2015,45,11/9/2015,11/15/2015,November,11/1/2015,X,0.723665,X,X,X,X,X,X,97,85,13404
6,States,New York,2015,46,11/16/2015,11/22/2015,November,11/1/2015,X,1.184980,X,X,X,X,X,X,159,82,13418
7,States,New York,2015,47,11/23/2015,11/29/2015,November,11/1/2015,X,0.978670,X,X,X,X,X,X,78,83,7970
8,States,New York,2015,48,11/30/2015,12/6/2015,December,12/1/2015,X,1.181800,X,X,X,X,X,X,141,80,11931
9,States,New York,2015,49,12/7/2015,12/13/2015,December,12/1/2015,X,1.513350,X,X,X,X,X,X,178,77,11762
10,States,New York,2015,50,12/14/2015,12/20/2015,December,12/1/2015,X,1.255110,X,X,X,X,X,X,129,80,10278
11,States,New York,2015,51,12/21/2015,12/27/2015,December,12/1/2015,X,2.146510,X,X,X,X,X,X,126,80,5870
12,States,New York,2015,52,12/28/2015,1/3/2016,December,12/1/2015,X,1.978420,X,X,X,X,X,X,99,78,5004
13,States,New York,2016,1,1/4/2016,1/10/2016,January,1/1/2016,X,1.157230,X,X,X,X,X,X,92,75,7950
14,States,New York,2016,2,1/11/2016,1/17/2016,January,1/1/2016,X,2.569890,X,X,X,X,X,X,205,78,7977
15,States,New York,2016,3,1/18/2016,1/24/2016,January,1/1/2016,X,1.900670,X,X,X,X,X,X,155,82,8155
16,States,New York,2016,4,1/25/2016,1/31/2016,January,1/1/2016,X,1.601300,X,X,X,X,X,X,167,81,10429
17,States,New York,2016,5,2/1/2016,2/7/2016,February,2/1/2016,X,1.732900,X,X,X,X,X,X,191,83,11022
18,States,New York,2016,6,2/8/2016,2/14/2016,February,2/1/2016,X,2.716420,X,X,X,X,X,X,273,80,10050
19,States,New York,2016,7,2/15/2016,2/21/2016,February,2/1/2016,X,1.766640,X,X,X,X,X,X,172,80,9736
20,States,New York,2016,8,2/22/2016,2/28/2016,February,2/1/2016,X,2.832970,X,X,X,X,X,X,288,79,10166
21,States,New York,2016,9,2/29/2016,3/6/2016,March,3/1/2016,X,3.414630,X,X,X,X,X,X,357,80,10455
22,States,New York,2016,10,3/7/2016,3/13/2016,March,3/1/2016,X,3.416090,X,X,X,X,X,X,366,79,10714
23,States,New York,2016,11,3/14/2016,3/20/2016,March,3/1/2016,X,3.803030,X,X,X,X,X,X,346,75,9098
24,States,New York,2016,12,3/21/2016,3/27/2016,March,3/1/2016,X,2.894630,X,X,X,X,X,X,278,72,9604
25,States,New York,2016,13,3/28/2016,4/3/2016,April,4/1/2016,X,1.598980,X,X,X,X,X,X,113,47,7067
26,States,New York,2016,14,4/4/2016,4/10/2016,April,4/1/2016,X,1.351350,X,X,X,X,X,X,97,45,7178
27,States,New York,2016,15,4/11/2016,4/17/2016,April,4/1/2016,X,1.539670,X,X,X,X,X,X,118,41,7664
28,States,New York,2016,16,4/18/2016,4/24/2016,April,4/1/2016,X,1.096920,X,X,X,X,X,X,79,40,7202
29,States,New York,2016,17,4/25/2016,5/1/2016,April,4/1/2016,X,1.027500,X,X,X,X,X,X,68,40,6618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,States,New York,2017,10,3/6/2017,3/12/2017,March,3/1/2017,X,3.205080,X,X,X,X,X,X,419,66,13073
75,States,New York,2017,11,3/13/2017,3/19/2017,March,3/1/2017,X,3.912160,X,X,X,X,X,X,383,64,9790
76,States,New York,2017,12,3/20/2017,3/26/2017,March,3/1/2017,X,3.575470,X,X,X,X,X,X,505,68,14124
77,States,New York,2017,13,3/27/2017,4/2/2017,April,4/1/2017,X,4.585450,X,X,X,X,X,X,568,66,12387
78,States,New York,2017,14,4/3/2017,4/9/2017,April,4/1/2017,X,4.866200,X,X,X,X,X,X,591,63,12145
79,States,New York,2017,15,4/10/2017,4/16/2017,April,4/1/2017,X,3.251490,X,X,X,X,X,X,343,58,10549
80,States,New York,2017,16,4/17/2017,4/23/2017,April,4/1/2017,X,1.960600,X,X,X,X,X,X,209,56,10660
81,States,New York,2017,17,4/24/2017,4/30/2017,April,4/1/2017,X,1.973800,X,X,X,X,X,X,217,57,10994
82,States,New York,2017,18,5/1/2017,5/7/2017,May,5/1/2017,X,1.960090,X,X,X,X,X,X,221,56,11275
83,States,New York,2017,19,5/8/2017,5/14/2017,May,5/1/2017,X,1.452500,X,X,X,X,X,X,163,55,11222
84,States,New York,2017,20,5/15/2017,5/21/2017,May,5/1/2017,X,1.470450,X,X,X,X,X,X,154,54,10473
85,States,New York,2017,21,5/22/2017,5/28/2017,May,5/1/2017,X,1.642550,X,X,X,X,X,X,143,44,8706
86,States,New York,2017,22,5/29/2017,6/4/2017,June,6/1/2017,X,1.669970,X,X,X,X,X,X,101,43,6048
87,States,New York,2017,23,6/5/2017,6/11/2017,June,6/1/2017,X,1.434370,X,X,X,X,X,X,106,42,7390
88,States,New York,2017,24,6/12/2017,6/18/2017,June,6/1/2017,X,1.369680,X,X,X,X,X,X,104,43,7593
89,States,New York,2017,25,6/19/2017,6/25/2017,June,6/1/2017,X,1.389080,X,X,X,X,X,X,100,42,7199
90,States,New York,2017,26,6/26/2017,7/2/2017,July,7/1/2017,X,1.181490,X,X,X,X,X,X,83,43,7025
91,States,New York,2017,27,7/3/2017,7/9/2017,July,7/1/2017,X,1.115300,X,X,X,X,X,X,74,43,6635
92,States,New York,2017,28,7/10/2017,7/16/2017,July,7/1/2017,X,0.998308,X,X,X,X,X,X,59,43,5910
93,States,New York,2017,29,7/17/2017,7/23/2017,July,7/1/2017,X,1.079030,X,X,X,X,X,X,74,42,6858
94,States,New York,2017,30,7/24/2017,7/30/2017,July,7/1/2017,X,0.944611,X,X,X,X,X,X,66,41,6987
95,States,New York,2017,31,7/31/2017,8/6/2017,August,8/1/2017,X,0.961125,X,X,X,X,X,X,67,41,6971
96,States,New York,2017,32,8/7/2017,8/13/2017,August,8/1/2017,X,0.904343,X,X,X,X,X,X,71,41,7851
97,States,New York,2017,33,8/14/2017,8/20/2017,August,8/1/2017,X,0.893612,X,X,X,X,X,X,74,40,8281
98,States,New York,2017,34,8/21/2017,8/27/2017,August,8/1/2017,X,0.899017,X,X,X,X,X,X,86,41,9566
99,States,New York,2017,35,8/28/2017,9/3/2017,September,9/1/2017,X,0.795934,X,X,X,X,X,X,83,40,10428
100,States,New York,2017,36,9/4/2017,9/10/2017,September,9/1/2017,X,0.932594,X,X,X,X,X,X,79,41,8471
101,States,New York,2017,37,9/11/2017,9/17/2017,September,9/1/2017,X,0.904698,X,X,X,X,X,X,88,40,9727
102,States,New York,2017,38,9/18/2017,9/24/2017,September,9/1/2017,X,0.937442,X,X,X,X,X,X,101,42,10774
103,States,New York,2017,39,9/25/2017,10/1/2017,September,9/1/2017,X,1.247830,X,X,X,X,X,X,122,39,9777

In [20]:
ili_groupby = fluout.groupby(['MoY'])
sum_ili = pd.DataFrame(ili_groupby['ILITOTAL'].sum())
sum_ili.index = sum_ili.index.to_datetime()
sorted_ili = sum_ili.sort_index(ascending=True)

C:\Users\BenG\Anaconda3\envs\PythonDATA\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: to_datetime is deprecated. Use pd.to_datetime(...)
  app.launch_new_instance()

In [21]:
sorted_ili

            ILITOTAL
2015-10-01       354
2015-11-01       423
2015-12-01       673
2016-01-01       619
2016-02-01       924
2016-03-01      1347
2016-04-01       475
2016-05-01       117
2016-06-01         3
2016-07-01         3
2016-08-01         6
2016-09-01        22
2016-10-01       577
2016-11-01       718
2016-12-01      1618
2017-01-01      3407
2017-02-01      4861
2017-03-01      1714
2017-04-01      1928
2017-05-01       681
2017-06-01       411
2017-07-01       356
2017-08-01       298
2017-09-01       473