In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
# Store filepath in a variable
flu_vacc_file1= "Data/NYVacc2015-16CalcData.csv"
flu_vacc_file2= "Data/NYVacc2016-17CalcData.csv"

In [4]:
vacc15_16 = pd.read_csv(flu_vacc_file1)
vacc16_17 = pd.read_csv(flu_vacc_file2)
vacc15_16

     Month  Perc_Vacc  Sample_Size
0   Jul-15   0.005311        50801
1   Aug-15   0.018143        50801
2   Sep-15   0.091239        50801
3   Oct-15   0.259566        50801
4   Nov-15   0.357818        50801
5   Dec-15   0.392225        50801
6   Jan-16   0.419058        50801
7   Feb-16   0.435254        50801
8   Mar-16   0.446802        50801
9   Apr-16   0.453591        50801
10  May-16   0.454365        50801

In [6]:
vacctotal = [vacc15_16, vacc16_17]

     # People   Month  Perc_Vacc  Percentage  Sample Size  Sample_Size
0         NaN  Jul-15   0.005311         NaN          NaN      50801.0
1         NaN  Aug-15   0.018143         NaN          NaN      50801.0
2         NaN  Sep-15   0.091239         NaN          NaN      50801.0
3         NaN  Oct-15   0.259566         NaN          NaN      50801.0
4         NaN  Nov-15   0.357818         NaN          NaN      50801.0
5         NaN  Dec-15   0.392225         NaN          NaN      50801.0
6         NaN  Jan-16   0.419058         NaN          NaN      50801.0
7         NaN  Feb-16   0.435254         NaN          NaN      50801.0
8         NaN  Mar-16   0.446802         NaN          NaN      50801.0
9         NaN  Apr-16   0.453591         NaN          NaN      50801.0
10        NaN  May-16   0.454365         NaN          NaN      50801.0
0     209.480  Jul-16        NaN      0.0045      46338.0          NaN
1     977.120  Aug-16        NaN      0.0211      46338.0          NaN
2    4623.422  Sep-16        NaN      0.0998      46338.0          NaN
3   12200.273  Oct-16        NaN      0.2633      46338.0          NaN
4   16340.302  Nov-16        NaN      0.3526      46338.0          NaN
5   18143.557  Dec-16        NaN      0.3915      46338.0          NaN
6   19837.957  Jan-17        NaN      0.4281      46338.0          NaN
7   20692.989  Feb-17        NaN      0.4466      46338.0          NaN
8   21033.534  Mar-17        NaN      0.4539      46338.0          NaN
9   21229.781  Apr-17        NaN      0.4582      46338.0          NaN
10  21436.923  May-17        NaN      0.4626      46338.0          NaN

In [ ]:
weatherdata = pd.read_csv("NYWeather.csv")

In [ ]:
weatherdata.head()

In [ ]:
monthNYdata = pd.read_csv("MonthNYData.csv")