In [1]:
import pandas as pd
import numpy as np
import json

In [13]:
vaccdata = pd.read_csv("...Data/StatesVacc2015-16.csv")
vaccdata

FileNotFoundError: File b'...Data/StatesVacc2015-16.csv' does not exist

In [18]:
weatherdata = pd.read_csv("NYWeather.csv")

In [20]:
weatherdata.head()

,STATION,NAME,DATE,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN
0,USW00094728,"NY CITY CENTRAL PARK, NY US",7/1/2015,0.39,0.0,0,75.5,82,69
1,USW00094728,"NY CITY CENTRAL PARK, NY US",7/2/2015,0.00,0.0,0,74.5,80,69
2,USW00094728,"NY CITY CENTRAL PARK, NY US",7/3/2015,0.00,0.0,0,74.0,82,66
3,USW00094728,"NY CITY CENTRAL PARK, NY US",7/4/2015,0.00,0.0,0,72.0,75,69
4,USW00094728,"NY CITY CENTRAL PARK, NY US",7/5/2015,0.00,0.0,0,75.5,83,68

In [21]:
monthNYdata = pd.read_csv("MonthNYData.csv")

In [22]:
monthNYdata

,STATION,NAME,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-07,3.97,0.0,78.8,85.9,71.7
1,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-08,2.35,0.0,79.0,86.9,71.0
2,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-09,3.28,0.0,74.4,82.6,66.3
3,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-10,3.91,0.0,58.0,65.4,50.7
4,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-11,2.02,0.0,52.8,59.3,46.3
5,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-12,4.72,0.0,50.8,56.3,45.3
6,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-01,4.41,27.9,34.5,40.8,28.2
7,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-02,4.41,4.1,37.8,44.9,30.7
8,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-03,1.17,0.9,48.9,57.4,40.4
9,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-04,1.62,0.0,53.3,62.2,44.4
10,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-05,3.76,0.0,62.8,70.6,55.0