In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
# Store filepath in a variable
flu_vacc_file1= "Data/StatesVacc2015-16.csv"
flu_vacc_file2= "Data/NYVacc2016-2017.csv"

In [5]:
vacc15_16 = pd.read_csv(flu_vacc_file1)
vacc16_17 = pd.read_csv(flu_vacc_file2)
vacc16_17

,Unnamed: 0,Jul,Sample,Aug,Sample.1,Sep,Sample.2,Oct,Sample.3,Nov,...,Jan,Sample.6,Feb,Sample.7,Mar,Sample.8,Apr,Sample.9,May,Sample.10
0,>=6 months,1.0,20948,2.7,20948,11.4,20948,28.7,20948,38.3,...,46.0,20948,47.9,20948,48.7,20948,49.2,20948,49.8,20948
1,>=18 years,0.0,15337,1.7,15337,9.2,15337,25.6,15337,34.5,...,42.2,15337,44.0,15337,44.8,15337,45.2,15337,45.6,15337
2,18-64,0.0,10053,1.5,10053,8.2,10053,22.5,10053,30.1,...,37.1,10053,38.9,10053,39.4,10053,39.7,10053,39.9,10053

In [ ]:
weatherdata = pd.read_csv("NYWeather.csv")

In [ ]:
weatherdata.head()

In [ ]:
monthNYdata = pd.read_csv("MonthNYData.csv")